extends layout

block content
  h1 模擬刷卡
  div.row
    div.col-lg-3
      div.form-group
        label 借還車點
        input#id.form-control

  button#action.btn.btn-primary 刷卡(取車)


block script
  script(src="/javascripts/main.js")



