extends layout

block content
  h1 模擬刷卡
  div.row
    div.col-lg-3
      div.form-group
        label 借還車點
        input#id.form-control
        input#state(type="hidden" value="#{state}")

  a#action.btn.btn-primary=btn_text


block script
  script(src="/javascripts/main.js")



